<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="#">
</head>

<body>
  <form>
    <input type="search" id="search" placeholder="City">
    <button id="btnSearch">Go!</button>
  </form>
  <div class="skyline">
    <img src="./src/img/city-skyline.jpg" alt="" srcset="">
  </div>
  <div class="weather-display"></div>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkMojPgsXBj-mgVGh5P9FtY6bpdrCU2iE&libraries=places">
  </script>

</body>

</html>