<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <form class="text-white flex items-center justify-center font-sans w-full mt-4">
      <div class="max-w-sm border-b border-gray-900">
        <input
          class="text-xl appearance-none bg-transparent border-none text-gray-900 mr-10 py-2 leading-tight focus:outline-none placeholder-current"
          id="searchInput" type="search" placeholder="City">
        <button id="searchBtn" class="w-16 bg-gray-900 flex-shrink-0 border-transparent border-4 rounded">Go!</button>
      </div>
    </form>
    <section class="flex text-white mx-20 justify-center space-x-32 mt-12">

      <div class="w-128 max-w-xl font-sans overflow-hidden bg-gray-900 rounded-lg shadow-lg">
        <!-- Current weather -->
        <div class="flex items-center justify-between px-6 py-8">
          <div class="flex items-center">
            <div>
              <h3 id="currentTemp" class="text-6xl font-semibold">8C</h3>
              <div class="flex">
              <h5>Feels like </h5>
              <p class="ml-1" id="feels_like"></p>
              </div>
            </div>
            <div class="mx-6">
              <h3 id="currentDesc" class=" text-2xl font-semibold">Cloudy</h3>
              <h5 id="city" class="pb-3">London, UK</h5>
            </div>
          </div>
          <img class="icon h-32" src="../src/icons/snow.png" alt="">
        </div> <!-- End of Current-->

        <!-- Future weather -->
        <div class="text-sm bg-gray-800 px-6 py-8 overflow-hiddenspace-x-32">
          <div class="flex items-center justify-between mt-8">
            <p class="weekDay w-1/6 text-xl text-gray-200">Day1</p>
            <div class="w-4/6 px-4 flex items-center">
              <img class="icon h-16" src="../src/icons/snow.png" alt="">
              <p class="desc text-lg ml-6">Lorem ipsum, dolor sit amet </p>
            </div>
            <div class="w-1/6 text-right">
              <p class="dayTemp">5C</p>
              <p class="nightTemp">-10C</p>
            </div>
          </div>
          <div class="flex items-center justify-between mt-8">
            <p class="weekDay w-1/6 text-xl text-gray-200">Day1</p>
            <div class="w-4/6 px-4 flex items-center">
              <img class="icon h-16" src="../src/icons/snow.png" alt="">
              <p class="desc text-lg ml-6">Lorem ipsum, dolor sit amet </p>
            </div>
            <div class="w-1/6 text-right">
              <p class="dayTemp">5C</p>
              <p class="nightTemp">-10C</p>
            </div>
          </div>
          <div class="flex items-center justify-between mt-8">
            <p class="weekDay w-1/6 text-xl text-gray-200">Day1</p>
            <div class="w-4/6 px-4 flex items-center">
              <img class="icon h-16" src="../src/icons/snow.png" alt="">
              <p class="desc text-lg ml-6">Lorem ipsum, dolor sit amet </p>
            </div>
            <div class="w-1/6 text-right">
              <p class="dayTemp">5C</p>
              <p class="nightTemp">-10C</p>
            </div>
          </div>
          <div class="flex items-center justify-between mt-8">
            <p class="weekDay w-1/6 text-xl text-gray-200">Day1</p>
            <div class="w-4/6 px-4 flex items-center">
              <img class="icon h-16" src="../src/icons/snow.png" alt="">
              <p class="desc text-lg ml-6">Lorem ipsum, dolor sit amet </p>
            </div>
            <div class="w-1/6 text-right">
              <p class="dayTemp">5C</p>
              <p class="nightTemp">-10C</p>
            </div>
          </div>
          <div class="flex items-center justify-between mt-8">
            <p class="weekDay w-1/6 text-xl text-gray-200">Day1</p>
            <div class="w-4/6 px-4 flex items-center">
              <img class="icon h-16" src="../src/icons/snow.png" alt="">
              <p class="desc text-lg ml-6">Lorem ipsum, dolor sit amet </p>
            </div>
            <div class="w-1/6 text-right">
              <p class="dayTemp">5C</p>
              <p class="nightTemp">-10C</p>
            </div>
          </div>
          <div class="flex items-center justify-between mt-8">
            <p class="weekDay w-1/6 text-xl text-gray-200">Day1</p>
            <div class="w-4/6 px-4 flex items-center">
              <img class="icon h-16" src="../src/icons/snow.png" alt="">
              <p class="desc text-lg ml-6">Lorem ipsum, dolor sit amet </p>
            </div>
            <div class="w-1/6 text-right">
              <p class="dayTemp">5C</p>
              <p class="nightTemp">-10C</p>
            </div>
          </div>
        </div>
      </div>
      <div class="font-sans flex flex-col justify-center">
        <div
          class=" grid grid-cols-2 font-medium h-64 w-128 max-w-xl overflow-hidden bg-gray-900 rounded-lg shadow-lg mb-20 p-10 justify-items-center">
          <div class="flex">
            <p>Humidity:</p>
            <p class="ml-1" id="humidity"></p>
          </div>
          <div class="flex">
            <p>Pressure </p>
            <p class="ml-1" id="pressure"></p>
          </div>
          <div class="flex">
            <p>Visibility </p>
            <p class="ml-1" id="visibility"></p>
          </div>
          <div class="flex">
            <p>Temp. min </p>
            <p class="ml-1" id="tempMin"></p>
          </div>
          <div class="flex">
            <p>Temp. max </p>
            <p class="ml-1" id="tempMax"></p>
          </div>
        </div>
        <div class="h-64 w-128 max-w-xl overflow-hidden bg-gray-900 rounded-lg shadow-lg mt-20">
        </div>
        <div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>