

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.skyline {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.skyline img {
  width: 100%;
  height: auto;
  margin: 0 0 -300px 0;
}